.popup-model {
    padding: 10px;
}

.mat-form-field {
    width: 100%;
}

.btn {
    width: 230px;
}

.btn-save {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-save:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}